{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}NetBot - Orion{% endblock %}

{% block page_content %}
                <div class="row-fluid">
                    <div class="col-xs-6 col-md-3">
                        <strong>Orion id</strong>
                    </div>
                    <div class="col-xs-6 col-md-3">
                    <strong>Orion name</strong>
                    </div>
                    <div class="col-xs-6 col-md-3">
                    <strong>Orion description</strong>
                    </div>
                    <div class="col-xs-6 col-md-3">

                    <strong>Action</strong>
                    </div>
                </div>
<br>

<ul class="posts">
    {% for task in tasks %}
    <li class="post">
        <div class="post-thumbnail">
            </a>
        </div>
        <div class="post-content">
            <div class="post-author"></div>
            <div class="post-body">
                <div class="row-fluid">
                    <div class="col-xs-6 col-md-3">
                    {{ task.id }}
                    </div>
                    <div class="col-xs-6 col-md-3">
                    {{ task.name }}
                    </div>
                    <div class="col-xs-6 col-md-3">
                    {{ task.description }}
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="{{ baseurl }}?status=ok&finished=ok&playbook={{ task.playbook }}&tags={{ task.tags }}&inventory=inventory&credential=prod&taskid={{ task.id }}">
                        <span style="font-size:1.5em;" class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            </a>
                        Run Task &nbsp;&nbsp;
                                                <a href="{{ url_for('ansible.edit_task', id=task.id) }}">
                    <span class="label label-primary">Edit Task</span>
                </a>

                    </div>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

