{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Ansible - Post{% endblock %}

{% block page_content %}

<ul class="posts">
    {% for project in projects %}
    <li class="post">
        <div class="post-thumbnail">
            </a>
        </div>
        <div class="post-content">
            <div class="post-author"></div>
            <div class="post-body">
                {{ project.id }}
                {{ project.name }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

